.footer {
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.flist-item a {
  text-decoration: none;
  color: #868686;
}

.footer-list ul {
  list-style: none;
  padding-left: 0;
}

.footer-list {
  margin-top: 1.5rem;
}

ul .flist-item:not(:first-child) {
  margin-top: 1.5rem;
}

.footer-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.subscribe-area {
  margin-top: 1.5rem;
}

.subscribe-input {
  border: 1px solid #ced4da;
  border-radius: 0;
  font-size: 1.4rem;
  background-color: #210f3e;
}

.subscribe-input:focus {
  color: white;
  background-color: #210f3e;
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.subscribe-btn-area {
  margin-top: 1.5rem;
}

.sbscrb-btn {
  font-size: 1.3rem;
  background-color: #372751;
  transition: 0.5s;
}

.sbscrb-btn:hover {
  background-color: #210f3e;
}

.icons-area {
  margin-top: 1.5rem;
}

.social-link {
  color: #868686;
  font-size: 2rem;
}

.fb-icon:hover {
  color: #4267b2;
}

.twitter-icon:hover {
  color: #1da1f2;
}

.ln-icon:hover {
  color: #0072b1;
}

.yt-icon:hover {
  color: #ff0000;
}

.ig-icon:hover {
  color: #8a3ab9;
}

.dc-icon:hover {
  color: #5865f2;
}

.connect,
.community,
.learning {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .connect,
  .community {
    margin-top: 2.5rem;
  }
  .learning {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .connect,
  .community,
  .learning {
    margin-top: 2.5rem;
  }
}
