.landing-section {
  background-image: url("../images/rebv2.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-content {
  margin-top: 17rem;
}

.landing-writing {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}

.btn-area,
.more-writing {
  margin-top: 2.5rem;
}

.btn {
  border: 0px;
}

.cstm-btn {
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #f5189e 0%, #1726e3 100%);
  padding: 0.75rem 2rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 1s;
}

.cstm-btn:hover {
  background-image: linear-gradient(to right, #1726e3 0%, #f5189e 100%);
  color: #fff;
}

.watch {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: 10rem;
}

.watch:hover {
  color: #fff;
  text-decoration: underline;
}

.landing-img {
  width: 100%;
}

/* -- THREE IMAGES SECTION -- */

.col-md-4 {
  margin: 0 !important;
  padding: 0 !important;
}

.img-cls {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.img-cls img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 575px) {
  .three-images-section {
    margin-top: 0rem;
  }
}

/* THREE IMAGE WRITINGS */

.banner-wrt {
  text-align: center;
  margin: 0;
  opacity: 1;
  padding: 2rem 2rem;
}

.img-row {
  display: flex;
}

.img-col {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.divider-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(25px);
  filter: blur(15px);
  transition: 0.5s;
}

.divider-image:hover {
  backdrop-filter: blur(0px);
  filter: blur(0px);
}

.img-wrt {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.omni {
  font-size: 3.5rem;
  font-weight: 400;
}
